.conditionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}
.conditionBox {
  padding: 12px 42px;
  background-color: #f59e0b;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.conditionBox * {
  color: white;
  text-align: center;
}
.paths {
  display: flex;
  gap: 24px;
}
