.conditionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.conditionBox {
  /* position: absolute; */
  width: 100px;
  height: 100px;
  background-color: #f59e0b;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

.conditionBox * {
  color: white;
  text-align: center;
}
.paths {
  margin-top: 32px;

  display: flex;
  gap: 24px;
}
