.nodeContainer {
  position: relative;
  background: #85acf5;
  color: #fff;
  padding: 12px 8px;
  max-width: 200px;
  margin: auto auto;
  margin-top: 32px;
  border-radius: 6px;
  padding-bottom: 32px;
}
.nodeType {
  margin-top: 4px;
  display: flex;
  gap: 10px;
}

.nodeTitleInput {
  font-family: inherit;
  border: none;
  padding: 3px 6px;
  font-size: 14px;
  border-radius: 4px;
  width: 100%;
  margin: 6px 0;
}
.delButton {
  all: unset;
  font-size: 14px;
  margin-top: 16px;
  background: rgb(245, 65, 59);
  padding: 2px 6px;
  border-radius: 4px;
  cursor: pointer;
}
.delButton:hover {
  background: rgb(187, 24, 18);
}
