.nodeContainer {
  position: relative;
  /* background: #3b82f6; */
  color: #fff;
  padding: 16px 12px;
  max-width: 200px;
  margin: auto auto;
  margin-top: 32px;
  border-radius: 6px;
  padding-bottom: 32px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.nodeTitle {
  font-size: 18px;
  font-weight: 500;
}
.nodeType {
  margin-top: 4px;
  font-size: 12px;
  font-weight: 500;
  display: flex;
  gap: 10px;
}

.nodeTitleInput {
  font-family: inherit;
  border: none;
  padding: 3px 6px;
  font-size: 14px;
  border-radius: 4px;
  width: 100%;
  margin: 6px 0;
}
.delButton {
  all: unset;
  font-size: 14px;
  margin-top: 16px;
  background: #fecaca;
  color: #991b1b;
  font-weight: 500;
  padding: 2px 6px;
  border-radius: 4px;
  cursor: pointer;
}
.delButton:hover {
  background: #f87171;
  color: #7e1616;
}
.branchConnector {
  width: 2px;
  background: black;
  flex-grow: 1;
}
