.appBackground {
  background-color: #ececec;
  min-height: 100dvh;
  padding: 42px;
  padding-bottom: 400px;
}
.nodeContainer {
  background: #85acf5;
  width: 200px;
  margin: 32px auto;
}
.nodes {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}
.appTitle {
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 16px;
  color: rgb(15, 58, 83);
}
.saveButton {
  all: unset;
  padding: 8px 16px;
  background-color: #365a9b;
  color: #fff;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  cursor: pointer;
}
.saveButton:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 1px;
  background-color: #2b487c;
}
.appHeader {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 42px;
  display: flex;
  flex-direction: column;
}
